.cards-list {
  margin: 2rem 4rem;
  display: flex;
  flex-wrap: nowrap;
  gap: 1.25rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-color: rgb(60, 60, 60) white;
  scrollbar-width: thin;
}

.card {
  width: 11rem;
  height: 30vh;
  font-size: 1.25rem;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.card-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
