* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.header {
  display: inline-flex;
  height: 10vh;
  width: 100%;
  margin-top: 5vh;
}

.header-img {
  height: 10vh;
  margin-left: 2rem;
}

.search-container {
  display: flex;
  align-items: center;
  height: 5vh;
  width: 100%;
  margin-top: 0.5em;
  margin-left: 5rem;
  border-radius: 1.25rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.6);
}

.search-input {
  flex: 1;
  height: 2.5rem;
  border: none;
  text-indent: 3.75rem;
  font-weight: 300;
  font-size: 1.125rem;
  outline: none;
}

.header-title {
  margin-left: 10%;
}

.btn {
  width: 5em;
  height: 2.3em;
  margin: 0.5em;
  background: white;
  color: rgb(60, 60, 60);
  border: none;
  border-radius: 0.625em;
  font-size: 1.2rem;
  font-weight: lighter;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

button:hover {
  color: white;
}

button:after {
  content: "";
  background: rgba(0, 0, 0, 0.572);
  position: absolute;
  z-index: -1;
  left: -10%;
  right: -10%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
