* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.hero-title {
  margin: 2rem 4rem;
  margin-top: 10rem;
}

h1 {
  font-weight: 450;
}

.hero-main-box {
  margin: 2rem 4rem;
}

.hero-photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.2rem;
  width: 100%;
}

.hero-box {
  background-color: #34435e;
  width: 20rem;
  color: white;
  font-size: 1.7rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-box2 {
  background-color: #90bdb7ff;
  width: 20rem;
  color: white;
  font-size: 1.7rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 100%;
  height: 100%;
}

.card-badge {
  position: absolute;
  margin: 0.5rem 0.5rem;
  font-size: larger;
  background-color: white;
  color: black;
  padding: 5px 7px;
  border-radius: 3%;
}

.hero-card:hover .card-badge {
  background-color: rgba(255, 255, 255, 0.879);
  box-shadow: 0rem 0rem 0.3rem 0.3rem #3d315b;
  font-size: large;
}

.hero-card {
  cursor: pointer;
}

.hero-box:hover {
  color: #987284;
}

.hero-box2:hover {
  color: #987284;
}
