* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.header {
  display: inline-flex;
  height: 10vh;
  width: 100%;
  margin-top: 5vh;
}

.header-img {
  height: 10vh;
  margin-left: 2rem;
}

.search-container {
  display: flex;
  align-items: center;
  height: 5vh;
  width: 100%;
  margin-top: 0.5em;
  margin-left: 5rem;
  border-radius: 1.25rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.6);
}

.search-input {
  flex: 1;
  height: 2.5rem;
  border: none;
  text-indent: 3.75rem;
  font-weight: 300;
  font-size: 1.125rem;
  outline: none;
}

.header-title {
  margin-left: 10%;
}

.button {
  width: 5em;
  height: 2.3em;
  margin: 0.5em;
  background: white;
  border: none;
  font-size: 1.2rem;
  font-weight: lighter;
  cursor: pointer;
}

button:hover,
.bi1:hover {
  color: #987284;
}
