* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.hero-4 {
  margin: 2rem 4rem;
  margin-top: 8rem;
}

.hero-4-title {
  margin-bottom: 2rem;
}

.hero-4-photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.2rem;
  height: 50vh;
  width: 100%;
}

.image1 {
  width: 100%;
}

.hero-badge {
  position: absolute;
  color: white;
  background-color: #987284;
  width: fit-content;
  padding: 0.4rem 0.4rem;
}

.hero-4-card {
  cursor: pointer;
}

.hero-cards-title {
  font-weight: bold;
}

.hero-cards-text {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.658);
  line-height: 0.02rem;
}

.hero-cards-price {
  font-size: larger;
  padding: 0.6rem 0.6rem;
  display: inline-flex;
}

.hero-cards-price span {
  padding: 0.5rem 0rem;
  padding-right: 0.5rem;
}

.bi {
  padding: 0.5rem 0.5rem;
  border-radius: 50%;
}

.bag {
  background-color: #9872842c;
}

.bi:hover {
  color: #987284;
  background-color: rgba(1, 1, 1, 0.112);
}

.bi-x-circle {
  padding-left: 0.5rem;
  color: black;
}
