* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.hero-title {
  margin: 2rem 4rem;
  margin-top: 8rem;
}

h1 {
  font-weight: 450;
}

.hero-main-box {
  margin: 2rem 4rem;
}

.hero-card {
  cursor: pointer;
  position: relative;
}

.hero-photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.2rem;
  width: 100%;
}

.hero-box {
  background-color: #34435e;
  width: 20rem;
  color: white;
  font-size: 1.7rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-box2 {
  background-color: #90bdb7ff;
  width: 20rem;
  color: white;
  font-size: 1.7rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 100%;
  height: 100%;
}

.card-badge {
  position: absolute;
  bottom: 10%;
  left: 30%;
  right: 30%;
  text-align: center;
  width: inherit;
  margin: 0.5rem 0.5rem;
  font-size: 1rem;
  font-weight: light;
  background-color: rgba(255, 255, 255, 0.839);
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 0.05rem solid rgba(0, 0, 0, 0.462);
}

.hero-card:hover .card-badge {
  background-color: rgba(255, 255, 255, 0.946);
  border: 0.1rem solid rgba(0, 0, 0, 0.864);
}

.hero-box:hover {
  color: #987284;
  text-decoration: underline;
}

.hero-box2:hover {
  color: #987284;
  text-decoration: underline;
}
